<div class="row">
  <div class="col-xs-6 col-md-offset-2">
  <h3> Welcome to the ACS Operations Center </h3>
  </div>
</div>

<br>
<br>
<br>

<div class="row">
  <div class="col-xs-6 col-md-offset-3">
    <button class="btn btn-primary">
      Initiate Airplane Control System
    </button>
  <div>
</div>